.hz-button-group {
  display: inline-block;
  vertical-align: middle;

  & .hz-button {
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:not(:last-child) {
      border-right-color: var(--el-button-divide-border-color);
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    & + & {
      margin-left: 0;
    }
  }
}
